/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-07-2019, 22:19:39
    Author     : samuel
*/
.articulo{
    width: 500px;
    margin: auto;
    border: 1px solid black;
    background-color: azure;
    overflow: auto;   
}
.articulo img{
    float: left; 
}
.articulo p{
    font-family: calibri;
}

